/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #b2744c;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

#navbar {
    background-color: #b2744c;
}

.navbar-brand {
    background-color: #b2744c;
}

#logo img {
    border-radius: 10px;
    width: 160px;
    margin-left: 40px;
}

.navbar-nav .nav-link {
    color: black;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    background-color: #f7f5f2;
    color: black;
    border-radius: 5px;
}

main {
    padding-bottom: 50px;
}

section {
    padding: 50px 0;
}

h2 {
    margin-bottom: 20px;
    color: #b2744c;
}

p {
    line-height: 1.6;
}

ul {
    margin-top: 10px;
    padding-left: 20px;
}

img.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #b2744c;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar-nav {
        margin-left: 0;
        margin-top: 10px;
    }
    
    .navbar-brand img {
        width: 120px;
    }
    
    section {
        padding: 30px 0;
    }
    
    h2 {
        font-size: 1.8rem;
    }
    
    p {
        font-size: 1rem;
    }
    
    img.img-fluid {
        border-radius: 0;
    }
}